    #menu{
        background-color: #8e0000;
    }

    #abas{
        margin-top: 100px;
        margin-left: 560px;
    }

    #abas ul{
        display: inline;
    }

    #abas ul li{
        display: inline-block;
        border: solid 1px #8e0000;
        padding: 10px 10px 5px;
        border-radius: 10px 10px 0 0;
        color: aliceblue;
    }

    #conteudos{
        border: solid 3px #8e0000;
        margin-bottom: 200px;
        margin-left: 550px;
        margin-right: 550px;
        text-align: center;
        border-radius: 10px;
    }
    .conteudoaba1{
        padding: 10px 10px 10px 10px;
        text-align: center;
    }

    #cadastro{
        padding: 10px 10px 10px 10px;
        border: solid 3px #8e0000;
        margin-top: 50px;
        margin-bottom: 80px;
        margin-left: 400px;
        margin-right: 400px;
        border-radius: 10px;
    }

    .conteudoCad{
        padding: 10px 10px 10px 10px;
    }

    .selecionado{
        background-color: #8e0000;
        box-shadow: 2px 2px 3px #670000;
    }

    #bot1, #bot2{
        background-color: #8e0000;
        border: solid 2px white;
        border-radius: 15px;
        color: white;
    }
    #botao1 :hover{
        background-color: white;
        border: solid 2px #8e0000;
        border-radius: 15px;
        color: #8e0000;
    }
    #botao2 :hover{
        background-color: white;
        border: solid 2px #8e0000;
        border-radius: 15px;
        color: #8e0000;
    }
    #menu{
        background-color: #8e0000;
    }
    #menu a{
        color: white;
    }
    #sige{
        font-size: 70px;
    }
    #navbarTogglerDemo02 :hover{
        background-color: white;
        border-radius: 15px;
        color: #8e0000;
    }
    #registro{
        font-size: 20px;
        border: solid 2px white;
        border-radius: 15px;
        float: right;
    }

    #rod{
        bottom: 0px;
        background-color: #8e0000;
        color: white ;
    }
